/* Hero Section */
@media only screen and (max-width: 1199px) {
  .heroSection .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .heroSection {
    padding-top: 0 !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .heroSection .imageDiv {
    margin-bottom: 2rem !important;
  }
  .heroSection .downloadResDiv {
    text-align: center;
    align-self: center;
  }
}

.heroSection {
  padding-top: 7rem;
  margin-bottom: 5rem;
}
.heroSection .downloadResDiv .downloadRes,
.heroSection .downloadResDiv .downloadRes:hover {
  padding: 1rem 2rem;
  background-color: #FF6464;
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFFFFF !important;
  text-decoration: none;
}
.heroSection .imageDiv {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection .imageDiv img {
  width: 15rem;
  margin-top: 0;
  padding: 0;
}

/* Skills Sections */
.skillsSection {
  margin: 0;
  padding: 0;
  background-color: #EDF7FA;
}
.skillsSection .title
.featuredWork .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.skillsSection .title p,
.featuredWork .title p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375rem;
  text-align: right;
  color: #00A8CC;
  cursor: pointer;
}
.skillsSection .icon {
  width: 7rem;
  align-self: center;
}

/* Work Section */ 
.featuredWork {
  margin: 0;
  padding: 0;
}