.footer {
  position: relative !important;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 4rem 0 1.5rem 0;
}

.footer .footerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

