body {
  min-width: 100%;
  min-height: 100%; 
}

body, h1, h2, h3, h4, h5, h6, p, span, button, a {
  font-family: 'Heebo', sans-serif;
  color: #21243D;
}

/* Main Bigger Titles */
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem !important;
  line-height: 3.75rem !important;
}

/* Main Work Titles */
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem !important;
  line-height: 2.75rem !important;
}

/* Main Post Titles */
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem !important;
  line-height: 2.375rem !important;
}

/* Main Sub-Parts */
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem !important;
  line-height: 3.75rem !important;
}

/* Icons text */
h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem !important;
  line-height: 2rem !important;
}

/* Copyright */
h5 {
  font-style: normal;
  font-weight: normal;
  font-size: .875rem !important;
  line-height: 21px !important;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.4375rem !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}