/* Work Card */
.workCard {
  justify-content: center;
}
.workCard img,
.singlePage img {
  max-width: inherit;
  width: 100%;
}
.workCard h2 {
  font-style: normal;
  font-weight: bold;
}
.workCard h6,
.singlePage h6 {
  display: flex;
  align-items: center;
}
.workCard .date{
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #142850;
  padding: 0.2rem 1rem 0.15rem 1rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
}
.workCard .languages {
  font-style: normal;
  font-weight: normal;
  color: #8695A4;
}
.workCard .cardEndLine {
  width: 98%;
  border: 1px solid #E0E0E0;
}

/* Single Page */
.singlePage .date {
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #FF7C7C;
  padding: 0.2rem 1rem 0.15rem 1rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
}
.singlePage .languages {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #21243D;
}
.singlePage .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.singlePage .title p,
.singlePage .title a{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  line-height: 1.4375rem !important;
  text-align: right !important;
  color: #FF7C7C !important;
  cursor: pointer;
  text-decoration: none !important; 
}